
/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
}

.title {
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: #fff;
    margin: 0;
}

footer {
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Mynerve', cursive;
    font-size: 26px;
}

p {
    font-family: 'Mynerve', cursive;
}

span {
    font-weight: 700;
}

.shadow {
    width: 600px;
    box-shadow: 5px -5px 1px 1px rgba(9, 0, 2, .1);
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 50px auto;
    
}
